<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wander Lust</title>
</head>
<body>
    <h2>EDIT Listing</h2>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <input type="text" placeholder="Enter title" name="listing[title]" value=<%=listing.title%>> <br><br>
        <textarea placeholder="Enter Description" name="listing[description]" ><%=listing.description%></textarea>
        <br><br>
        <input type="number" placeholder="Enter Price" name="listing[price]" value=<%=listing.price%>>
        <br><br>
        <input type="text" placeholder="Enter country" name="listing[country]" value=<%=listing.country%>>
        <br><br>
        <input type="text" placeholder="Enter location" name="listing[location]" value=<%=listing.location%>>
        <br><br>
        <button>Submit</button>
    </form>

</body>
</html>