<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wander Lust</title>
</head>
<body>
    <h2>Listing Details</h2>
    <ul>
       <li>Title: <%= listing.title %></li>
       <li>Description: <%= listing.description %></li>
       <li>Price: <%= listing.price %></li>
       <li>Location: <%= listing.location %></li>
       <li>Location: <%= listing.country %></li>
    </ul>
    <form method="GET" action="/listings/<%= listing._id %>/edit">
        <button>Edit</button>
    </form>
    <br>
    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button>DELETE</button>
    </form>
</body>
</html>